<input type="number" class="form-control w-50 mt-2" name = 'a'[(ngModel)]="a"/>
<input type="number" class="form-control w-50 mt-2" name = 'b'[(ngModel)]="b"/>

<button class="btn btn-info mt-2" (click) = "subtrair()"> subtrair </button>
<p> Sua subtracao é = {{subtracao}}</p>
<button class="btn btn-info mt-2" (click) = "somar()"> somar </button>
<p> Sua somar é = {{soma}}</p>
<button class="btn btn-info mt-2" (click) = "dividir()"> dividir </button>
<p> Sua divisao é = {{divisao}}</p>
<button class="btn btn-info mt-2" (click) = "multiplicar()"> multiplicar </button>
<p> Sua multiplicacao é = {{multiplicacao}}</p>