<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row mt-5">
        <div class="col-lg-4 min-height: 100vh;">
            <img alt="" class="hCL kVc L4E MIw N7A XiG" fetchpriority="high" loading="auto"
                src="https://i.pinimg.com/736x/f9/b4/32/f9b432825a84cde107e5a9883ea561cc.jpg" style="width: 150px;">
            <h2 class="fw-normal">Mário</h2>
            <p>Mário é amante de animais e jornalista especializado em cuidados e bem-estar de pets. Ele compartilha
                dicas sobre como melhorar a qualidade de vida dos cães e gatos.</p>
            <p><a class="btn btn-secondary">Saiba Mais »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img alt="" class="hCL kVc L4E MIw N7A XiG" fetchpriority="high" loading="auto"
                src="https://i.pinimg.com/736x/3c/07/d4/3c07d4d147861c7233aec7c824e34cb5.jpg"
                style="width: 150px;">
            <h2 class="fw-normal">Pietra</h2>
            <p>Pietra é designer gráfica e apaixonada por animais, Com um grande amor por gatos, ela cria conteúdos
                sobre cuidados felinos e projetos visuais para promover a adoção de animais em abrigos.</p>
            <p><a class="btn btn-secondary">Saiba Mais »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img alt="" class="hCL kVc L4E MIw N7A XiG" fetchpriority="high" loading="auto"
                src="https://i.pinimg.com/736x/c9/69/85/c96985cc8b8989141e7e5dc002e98393.jpg" style="width: 180px;">
            <h2 class="fw-normal">Carlos</h2>
            <p>Carlos é desenvolvedor de software e grande defensor dos direitos dos animais. Ele trabalha em soluções
                digitais para melhorar a experiência de donos de pets. </p>
            <p><a class="btn btn-secondary">Saiba Mais »</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->