<!--<div class="card w-50">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a routerLink="/postlist" routerLinkActive="active" class="btn btn-primary">PostDetail</a>
    </div>
</div>

<div class="card w-50">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a routerLink="/postlist"routerLinkActive="active" class="btn btn-primary">Button</a>
    </div>
    <router-outlet />
</div>-->


<div class="row mt-5">
    <div class="col-md-3">
        <nav>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a routerLink="postdetail" class="nav-link" routerLinkActive="active">Confira dicas para viajar de carro com pets.</a>
                </li>
                <li class="nav-item">
                    <a routerLink="notfound" class="nav-link" routerLinkActive="active">404</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Post 3</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-md-9">
        <router-outlet />
    </div>
</div>




<!--<div class="row">
    <div class="col-md-3">
        <nav>
            <ul class="nav flex-column">
                <li class="card-title">
                    <a routerLink="postdetail" class="nav-link" routerLinkActive="active">PostDetail</a>
                </li>
                <li class="card-title" style=";">
                    <a routerLink="postlist" class="nav-link" routerLinkActive="active">PostDetail</a>
                    onde está PostDetail pode colocar o nome que quiser que não afeta o caminho
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-md-9">
        <router-outlet />
    </div>
</div>-->