<!--coluna imagem-->
<div class="d-grid gap-2 d-md-block">
    <button class="btn btn-primary" style="color: white;" onclick="window.history.back()">Voltar</button>
<div class="card mb-5" style="width: 100%;">
    <div class="row g-0">
        <div class="col-md-12">
            <img alt="" class="hCL kVc L4E MIw N7A XiG" fetchpriority="high" loading="auto"
                src="https://i.pinimg.com/736x/67/c3/3e/67c33e0a0ed264262f0c1c93f8026212.jpg"
                style="width: 100%;">
            <!--coluna para conteúdo-->
            <div class="col-md-12">
                <div class="card-body ">
                    <h5 class="card-title">Dicas essenciais para viajar com seu Pet!</h5>
                    <p class="card-text">Viajar com seu pet pode ser uma experiência incrível, mas requer:
                        planejamento com antecedência, escolha locais pet-friendly e veja as regras do transporte;
                        transporte seguro, use caixa de transporte ou cinto de segurança para pets;
                        faça pausas durante o trajeto, leve ração, água, brinquedos, cama e documento do pet;
                        leve os itens essenciais, use coleira com placa e, se posdível, microchip.</p>
                </div>
            </div>
        </div>
    </div>
   