
<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
    <img alt="" class="hCL kVc L4E MIw N7A XiG rounded-circle mt-4" width="80" height="80" fetchpriority="high" loading="auto"
    src="https://i.pinimg.com/736x/39/6f/77/396f778682fc1c836a4bdbec6bcb2f14.jpg">
    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-black text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
            <use xlink:href="#bootstrap"></use>
        </svg>
    </a>

    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 mt-4">
        <li><a routerLink="/home" routerLinkActive="active" class="nav-link px-2 text-black" >Home</a></li>
        <li><a routerLink="/posts" routerLinkActive="active" class="nav-link px-2 text-black">Posts</a></li>
        <li><a routerLink="/about" routerLinkActive="active" class="nav-link px-2 text-black">About</a></li>
        <li><a routerLink="/calcular-media" routerLinkActive="active" class="nav-link px-2 text-black">CalcularMedia</a></li>
        <li><a routerLink="/apolice" routerLinkActive="active" class="nav-link px-2 text-black">Apolice</a></li>
        <li><a routerLink="/conversor-temperatura" routerLinkActive="active" class="nav-link px-2 text-black">ConversorTemperatura</a></li>
        <li><a routerLink="/calculadora" routerLinkActive="active" class="nav-link px-2 text-black">Calculadora</a></li>
        <li><a routerLink="/imc" routerLinkActive="active" class="nav-link px-2 text-black">IMC</a></li>
    </ul>

    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control form-control-dark text-bg-info" placeholder="Search..."
            aria-label="Search">
    </form>

    <div class="text-end">
        <button routerLink="/notfound" routerLinkAcctive= "active" type="button" class="btn btn-info me-2">Login</button>
        <button routerLink="/notfound" routerLinkAcctive= "active" type="button" class="btn btn-info">Sign-up</button>
    </div>
</div>