
    <div class="row mt-5">
        <div class="col-md-5">
            <h2 class="featurette-heading fw-normal lh-1">Viagem com estilo 😎 🚙 <span class="text-body-secondary">

                </span></h2>
            <p class="lead">Rodas na estrada, vento no rosto e muita diversão. Viajar com pets é uma experiência
                incrível,
                mas
                é preciso tomar alguns cuidados para garantir a segurança e o bem-estar do seu amigo peludo. Confira
                dicas
                para
                viajar de carro com pets.</p>
        </div>
        <img alt="" class="" fetchpriority="high" loading="auto"
            src="https://i.pinimg.com/736x/ab/f1/92/abf192b6df80295dcf1491b8d90c9aae.jpg"
            style=" width: 600px; height: 800px;">
    </div>
    <div class="row mt-5">
        <div class="col-md-0">
            <h2 class="featurette-heading  fw-normal lh-1">Primeira self na praia 🤪 ☀️ 🌊 <span
                    class="text-body-secondary">

                </span></h2>
            <p class="lead">"Areia nos pelos, brisa no rosto e o som das ondas. A praia é o lugar favorito de muitos
                pets.
                Mas
                é preciso tomar cuidado com a exposição ao sol e a ingestão de água salgada. Confira dicas para garantir
                a
                segurança e o bem-estar do seu pet na praia."
            </p>
            <img alt="" class="hCL kVc L4E MIw N7A XiG" fetchpriority="high" loading="auto"
                src="https://i.pinimg.com/736x/0b/1f/00/0b1f00bfa7b278384dae89063d4e3a14.jpg"
                style="object-fit: contain;">
        </div>
    </div>